<div id="mySidepanel" class="sidepanel bg-dark">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Upload</a>
        <a href="/gallery">Gallery</a>
        <a href="/recyclebin">Recycle Bin</a>

</div> 
 
<nav id="main" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <script type="text/javascript" src="funciones.js"></script>
        <button class="openbtn bg-dark" onclick="openNav()">☰</button>  
        <img src="https://cloud.ibm.com/registration/images/ibm-cloud-svg-lockup-white.svg" alt="IBM Cloud logo" height="60">
            <div class="container">
                <a class="navbar-brand ml-auto" href="#">ICOS Repository</a>
            </div>
        </nav>  
    <br>
    <br>